ICI LE MENU

<p>user connete : {{name}}</p>
<button class="btn btn-link" type="submit" (click)="logout()">logout</button>
<button class="btn btn-link" type="submit" (click)="profile()">profile</button>

<h3>Articles list</h3>
<div class="article-list">
    <div class="article-card" *ngFor="let article of articles">
      <img *ngIf="article.articleCover" [src]="article.articleCover" alt="Image de l'article">
      <h2>{{ article.title }}</h2>
      <p><strong>Auteur :</strong> {{ article.authorName }}</p>
      <p><strong>Isbn:</strong> {{article.isbn}}</p>
      <p><strong>Publié le :</strong> {{ article.createdDate | date }}</p>
      <p>{{ article.abstract_ }}</p>
    </div>
</div>

<!--
<h3>Ajouter un article</h3>
<form (ngSubmit)="addArticle()">

  <div>
    <label for="title">Titre :</label>
    <input id="title" type="text" [(ngModel)]="newArticle.title" name="title" required>
  </div>

<
  <div>
    <label for="content">Contenu :</label>
    <textarea id="content" [(ngModel)]="newArticle.content" name="content" required></textarea>
  </div>

  <div>
    <label for="isbn">isbn :</label>
    <input id="isbn" [(ngModel)]="newArticle.isbn" name="isbn" required>
  </div>


  <button type="submit">Ajouter</button>
</form>
-->
